@mod:registry=https://moddevgit.mod-llc.com/api/v4/packages/npm/

# to download package
//moddevgit.mod-llc.com/api/v4/packages/npm/:_authToken=glpat-qJBsX8cDF8LHmocgHp4a

# specify which project to upload package to
//moddevgit.mod-llc.com/api/v4/projects/126/packages/npm/:_authToken=glpat-qJBsX8cDF8LHmocgHp4a
